@layer _3JmGY7, _m6ClU3;

@layer _3JmGY7 {
    .button-3JmG {
        background-color: #00f;
        color: #fff;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer
    }

    .view-3JmG {
        font-size: 20px;
        background-color: #f1f1f1;
        margin: 0 20px
    }
}

@layer _m6ClU3 {
    .button-m6Cl {
        background-color: green
    }

    span._m6ClU3 {
        background-color: red
    }
}

.link-4SNy {
    background-color: #fff;
    color: #000;
    text-decoration: none;

    &:hover._4SNy2H {
        text-decoration: underline
    }
}